<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocify</title>
    <style>
        .flashOuterBox{
            width: 100%;
            min-height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 45px;
            z-index: 4;
        }
        .flashBox{
            width: 300px;
            height: auto;
            font-family: "Varela Round", sans-serif;
            padding: 10px;
            background-color: rgb(245, 104, 104);
            color: black;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
        }
        .flashBox p{
            margin: 0 35px 0 0;
        }
        .flashBox i:hover{
            cursor: pointer;
        }

        @media (min-width: 1100px){
            .flashOuterBox{
                top: 58px;
            }
        }

        @media (max-width: 450px){
            .flashOuterBox{
                min-height: 11vw;
            }
            .flashBox{
                width: 70vw;
                border-radius: 5px;
            }
            .flashBox p, .flashBox i{
                font-size: 3.5vw;
            }
        }

        
    </style>
</head>
<body>
    
    <%if(success && success.length>0) {%>
    <div class="flashOuterBox">
    <div class="flashBox" style="background-color: #7ee9b7">
        <p><%=success%></p>
        <i class="fa-solid fa-xmark"></i>
    </div>
    </div>
    <%} else if(error && error.length>0) {%>
    <div class="flashOuterBox">
    <div class="flashBox">
        <p><%=error%></p>
        <i class="fa-solid fa-xmark"></i>
    </div>
    </div>
    <%}%>

  

    

    <script>
        let crossIcon = document.getElementsByClassName("fa-xmark")[0];
        let flashBox = document.getElementsByClassName("flashBox")[0];
        if(crossIcon){
        crossIcon.addEventListener("click", ()=>{
            flashBox.style.display="none";
        })
        }
    </script>
</body>
</html>