
    
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .navbarHeader{
            height: 35px;
            padding: 1vw 9vw;
            /* background-color: orange; */
            border-bottom: 1px solid rgb(197, 197, 197);
            font-family: "Varela Round", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logoName{
            font-size: 22px;
            font-weight: 700;
        }
        .logoNameFirstLetter{
            font-size: 26px;
            font-weight: 700;
            color: #4fbf8b;
        }
        .navLinks-searchBar{
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navLoginDetails{
            display: none;
            width: 30px;
            height: 30px;
            background-color: rgb(175, 175, 175);;
            border-radius: 50%;
        }


        .headerLinks{
            text-decoration: none;
            margin-left: 17px;
            color: rgb(46, 46, 46);
            font-size: 14px;
        }

        .navLinks, .navSearch{
            display: flex;
            align-items: center;
        }

        .navSearch input{
            width: 180px;
            padding: 5px 28px 5px 10px;
            border-radius: 15px;
            border: 1px solid rgb(187, 185, 185);
            font-family: "Varela Round", sans-serif;
        }

        .navSearch{
            position: relative;
        }

        .navSearch i{
            color: rgb(175, 175, 175);
            position: absolute;
            right: 8px;
            z-index: 3;
        }
        .navCart i{
            color:rgb(175, 175, 175);
        }
        .navCart{
            position: relative;
        }
        .cartItems{
            position: absolute;
            min-width: 13px;
            height: auto;
            aspect-ratio: 1/1;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4fbf8b;
            border-radius: 50%;
            left: 0.7vw;
            bottom: 1vw;
            color: white;
            font-size: 12px;
        }

        .sellerLink{
            color: rgb(46, 46, 46);
            text-decoration: none;
            margin-left: 17px;
            border: 0.5px solid rgb(187, 185, 185);
            font-size: 12px;
            padding: 3px 8px;
            border-radius: 20px;
            transition-property: all;
            transition-duration: 0.4s;
            transition-timing-function: ease-in-out;
        }

        .loginBtnBox .loginBtn{
            width: 80px;
            height: auto;
            aspect-ratio: 1/0.4;
            border-radius: 20px;
            border: none;
            background-color: #4fbf8b;
            color: white;
            font-size: 15px;
            margin-left: 10px;
        }

        .headerLink:hover{
            cursor: pointer;
            color: rgb(24, 24, 24);
        }     
        
        .navSearch i:hover{
            cursor: pointer;
            color: rgb(71, 71, 71);
        }

        .navCart i:hover{
            cursor: pointer;
        }

        .sellerLink:hover{
            cursor: pointer;
            color: white;
            background-color: #4fbf8b;
            border-color: white;
            padding: 5px 11px;
            font-size: 14px;
        }

    </style>
<body>
    <header class="navbarHeader">
        <div class="navLogo">
        <p class="logoName"><span class="logoNameFirstLetter">G</span>rocify</p>
        </div>

        <div class="navLinks-searchBar">
            <div class="navLinks">
                <a href="/seller"  class="sellerLink">Seller Dashboard</a>
                <a href="/product" class="headerLinks">Home</a>
                <a href="/product/all" class="headerLinks">All Products</a>
            </div>
            <div class="navSearch">
                <input type="text" placeholder="Search products">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
            <a href="/product/cart" class="navCart">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="cartItems">
                    <p class="cartItemsNumber"><%=totalCartProducts%></p>
                </div>
            </a>

            
            <div class="navLoginDetails">
            </div>

            <div class="loginBtnBox">
                <button class="loginBtn">Login</button>
            </div>

        </div>


    </header>
</body>