
    
    <style>
        body{
            padding: 0;
            margin: 0;
            position: relative;
        }
        .navbarHeader{
            height: 35px;
            padding: 1vw 9vw;
            /* background-color: orange; */
            border-bottom: 1px solid rgb(197, 197, 197);
            font-family: "Varela Round", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logoName{
            font-size: 22px;
            font-weight: 700;
        }
        .logoNameFirstLetter{
            font-size: 26px;
            font-weight: 700;
            color: #4fbf8b;
        }
        .navLinks-searchBar{
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navLoginDetails{
            width: 30px;
            height: 30px;
            background-color: rgb(175, 175, 175);;
            border-radius: 50%;
            background-image: url('https://cdn-icons-png.flaticon.com/512/236/236832.png');
            background-size: cover;
        }


        .headerLinks{
            text-decoration: none;
            margin-left: 17px;
            color: rgb(46, 46, 46);
            font-size: 14px;
        }

        .navLinks, .navSearch, .productSearch{
            display: flex;
            align-items: center;
        }

        .navSearch input, .productSearch input{
            width: 180px;
            padding: 5px 28px 5px 10px;
            border-radius: 15px;
            border: 1px solid rgb(187, 185, 185);
            font-family: "Varela Round", sans-serif;
        }

        .navSearch, .productSearch{
            position: relative;
        }

        .navSearch i, .productSearch i{
            color: rgb(175, 175, 175);
            position: absolute;
            right: 8px;
            z-index: 3;
        }
        .navCart i{
            color:rgb(175, 175, 175);
        }
        .navCart{
            position: relative;
        }
        .cartItems{
            position: absolute;
            min-width: 13px;
            height: auto;
            aspect-ratio: 1/1;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4fbf8b;
            border-radius: 50%;
            left: 0.7vw;
            bottom: 1vw;
            color: white;
            font-size: 12px;
        }

        .sellerLink{
            color: rgb(46, 46, 46);
            margin-left: 17px;
            border: 0.5px solid rgb(187, 185, 185);
            font-size: 12px;
            padding: 3px 8px;
            border-radius: 20px;
            transition-property: all;
            transition-duration: 0.4s;
            text-decoration: none;
            transition-timing-function: ease-in-out;
        }

        .loginBtnBox .loginBtn{
            width: 80px;
            height: auto;
            aspect-ratio: 1/0.4;
            border-radius: 20px;
            border: none;
            background-color: #4fbf8b;
            color: white;
            font-size: 15px;
            margin-left: 10px;
        }

        .navDetailsOptionsBox{
            width: 100px;
            background-color: white;
            border: 0.5px solid grey;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            padding: 7px 0px;
            visibility: hidden;
            position: absolute;
            right: 9vw;
            top: 4vw;
            z-index: 4;

        }

        .navDetailsOption{
            text-decoration: none;
            margin-bottom: 3px;
            color: black;
            padding: 1px 0px 1px 6px;
            font-size: 13px;
        }

        .navDetailsOption:hover{
            background-color: #4fbf8b;
            color: white;

        }

        .productSearch, .menuIcon{
            display: none;
        }

        .menuBox{
            width: auto;
            background-color: rgb(218, 216, 216);
            display: none;
            flex-direction: column;
            padding: 1vw 1vw 0vw 0vw;
            border: 0.5px solid #6a7282a2;
            border-radius: 5px;
            position: absolute;
            z-index: 5;
            top: 6vw;
            right: 2vw;
        }

        /* .menuBox a{
            padding: 0.2vw 1vw;
        } */

        .menuBoxLink{
            border: none;
            padding: 0;
            transition: none;
            margin-bottom: 5px;
            text-decoration: none;
            margin-left: 17px;
            color: rgb(46, 46, 46);
            font-size: 14px;
        }



        /* Hover effects */

        .headerLink:hover{
            cursor: pointer;
            color: rgb(24, 24, 24);
        }     
        
        .navSearch i:hover{
            cursor: pointer;
            color: rgb(71, 71, 71);
        }

        .productSearch i:hover{
            cursor: pointer;
            color: rgb(71, 71, 71);
        }

        .navCart i:hover{
            cursor: pointer;
        }

        .sellerLink:hover{
            cursor: pointer;
            color: white;
            background-color: #4fbf8b;
            border-color: white;
            padding: 5px 11px;
            font-size: 14px;
        }

        .formRedirection:hover{
            cursor: pointer;
            font-size: 14px;
        }
        .navLoginDetails:hover, .menuIcon:hover{
            cursor: pointer;
        }
        .menuBoxLink:hover{
            background-color: #4fbf8b;
            color: white;
        }

        /* Media Queries */
        @media (min-width: 970px) and (max-width: 1100px){
            .navbarHeader{
                padding: 1vw 4vw;
            }

            .navLinks-searchBar{
                width: 75%;
            }
        }

        @media (min-width: 870px) and (max-width: 970px){
            .navbarHeader{
                padding: 1vw 3.5vw;
            }
            .navLinks-searchBar{
                width: 80%;
            }
        }

        @media (min-width: 830px) and (max-width: 870px){
            .navbarHeader{
                padding: 1vw 3vw;
            }
            .navLinks-searchBar{
                width: 85%;
            }
        }

        @media (min-width: 500px) and (max-width: 830px){
            .navbarHeader{
                padding: 1vw 2.5vw;
                justify-content: space-between;
            }
            .navLinks-searchBar{
                width: auto;
            }
            .loginBtn, .navLinks, .navCart, .navSearch{
                display: none;
            }

            .menuIcon{
                display: inline-block;
            }

            .productSearch{
                width: 60%;
                display: flex;
            }

            .productSearch input{
                width: 100%;
            }
        }


        @media (max-width: 500px){
            .navbarHeader{
                padding: 0.7vw 2vw;
                justify-content: space-between;
            }
            .navLinks-searchBar{
                width: auto;
            }
            .loginBtn, .navLinks, .navCart, .navSearch{
                display: none;
            }

            .menuIcon{
                display: block;
                font-size: 6.5vw;
            }

            .productSearch{
                width: 60%;
                display:none;
            }

            .navLogo .logoNameFirstLetter{
                font-size: 6vw;
            }

            .navLogo .logoName{
                font-size: 5vw;
            }
        }

        @media (min-width: 831px){
         .menuBox, .menuIcon{
                display: none !important;
            }
        }
        

        @media (min-width: 500px) and (max-width: 730px){
            .menuBox{
                top: 8vw;
            }
        }

        @media (min-width: 350px) and (max-width: 500px){
            .menuBox{
                top: 11vw;
            }
        }

        @media (max-width: 350px){
            .menuBox{
                top: 13vw;
            }
        }

    </style>
<body>
    <header class="navbarHeader">
        <div class="navLogo">
        <p class="logoName"><span class="logoNameFirstLetter">G</span>rocify</p>
        </div>

        <div class="productSearch">
                <input type="text" class="searchProducts" placeholder="Search products">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        <div class="navLinks-searchBar">
            <div class="navLinks">
                <a href="/seller/login"  class="sellerLink">Seller Dashboard</a>
                <a href="/product" class="headerLinks">Home</a>
                <a href="/product/all" class="headerLinks">All Products</a>
            </div>
            <div class="navSearch">
                <input type="text" class="searchProducts" placeholder="Search products">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
            <i class="fa-solid fa-bars fa-xl menuIcon"></i>

            <div class="menuBox">
                <a href="/seller/login"  class="menuBoxLink">Seller Dashboard</a>
                <a href="/product" class="menuBoxLink">Home</a>
                <a href="/product/all" class="menuBoxLink">All Products</a>
                <a href="/orders" class="menuBoxLink">My Orders</a>
                <a href="/logout" class="menuBoxLink">Logout</a>
            </div>

            
            <a href="/product/cart" class="navCart">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="cartItems">
                    <% if(currUser) { %>
                        <p class="cartItemsNumber"><%=totalCartProducts%></p>
                    <% } else{ %>
                        <p class="cartItemsNumber">0</p>
                    <% } %>
                </div>
            </a>


            <% if(currUser) {%>
            <div class="navLoginDetails">
            </div>
            <div class="navDetailsOptionsBox">
                <a href="/orders" class="navDetailsOption">My Orders</a>
                <a href="/logout" class="navDetailsOption">Logout</a>
            </div>
            <% } else{%>
            <form method="GET" action="/user/login" class="loginBtnBox">
                <button class="loginBtn">Login</button>
            </form>
            <%}%>
        </div>

    </header>


    <script>

        // Show Current User Details
        let userDetails = document.getElementsByClassName("navLoginDetails")[0];
        let navDetailsOptionsBox = document.getElementsByClassName("navDetailsOptionsBox")[0];
        let visible=false;
        if(userDetails){
        userDetails.addEventListener("click", ()=>{
            visible? navDetailsOptionsBox.style.visibility="hidden": navDetailsOptionsBox.style.visibility="visible";
            visible = !visible;
        })
        }
    
        let menuIcon = document.getElementsByClassName('menuIcon')[0];
        let menuBox = document.getElementsByClassName("menuBox")[0];
        menuIcon.addEventListener('click', ()=>{
           if(menuBox.style.display!='flex') {
                menuBox.style.display="flex";
           } else{
                menuBox.style.display="none";
           }

        })


    </script>    

</body>