<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocify</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/homeStyle.css">
</head>
<body>
    <%- include('includes/header.ejs')%>

    <div class="relatedProductsBox">
        <p class="relatedProductTitle">Organic Vegies</p>

        <div class="relatedProducts">

            <div class="bestSellingProduct">
                            <img src="https://raw.githubusercontent.com/avinashdm/gs-images/main/greencart/vy1xa7zovcu22smzapzv.png">
                            <p class="bestSellingProductType">Bakery</p>
                            <p class="bestSellingProductName">Brown Bread 400g</p>
                            <div class="price-and-btn">

                                <div class="price">
                                <p class="bestSellingProductPrice">$40</p>
                                <p class="bestSellingProductOldPrice">$50</p>
                                </div>

                                <div class="buttons">
                                    <button class="AddButton"><i class="fa-solid fa-cart-shopping" style="color: #2f7052;"></i> <span>Add </span></button>
                                </div>
                            </div>
                        </div>

                        <div class="bestSellingProduct">
                            <img src="https://raw.githubusercontent.com/avinashdm/gs-images/main/greencart/cxrrgnf12xuhkr4dyhi2.png">
                            <p class="bestSellingProductType">Grain</p>
                            <p class="bestSellingProductName">Organic Quina 5..</p>
                            <div class="price-and-btn">

                                <div class="price">
                                <p class="bestSellingProductPrice">$420</p>
                                <p class="bestSellingProductOldPrice">$450</p>
                                </div>

                                <div class="buttons">
                                    <button class="AddButton"><i class="fa-solid fa-cart-shopping" style="color: #2f7052;"></i> <span>Add </span></button>
                                </div>
                            </div>
                        </div>

        </div>
    </div>

   

    <%- include('includes/footer.ejs')%>
</body>
</html>