body{
        padding-left: 9vw;
        padding-right: 9vw;
}
.homeMainSection{
    width: 100%;
    height: auto;
    margin-top: 3vw;
    font-family: "Varela Round", sans-serif;
    /* background-color: rgb(0, 153, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBox{
    width: 82%;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageBoxText-and-Btn{
    width: 30%;
    position: absolute;
    left: 11vw;
    top: 11vw;
}

.imageBoxText-and-Btn h1{
    font-size: 40px;
}

.imageBoxButton{
    display: flex;
}

.shopNowBtn{
    background-color: #4fbf8b;
    color: white;
    border-radius: 5px;
    border: none;
    width: 9vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 500;
    font-family:  "Varela Round", sans-serif;
}

.exploreBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    border: none;
    width: 11vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 550;
    font-family:  "Varela Round", sans-serif;
    margin-left: 2vw;
}

.shopNowBtn:hover{
    cursor: pointer;
    background-color: #3b996d;
}

.exploreBtn:hover{
    cursor: pointer;
    justify-content: space-between;
}

/* Categories */
.categoryBox{
    width: 82%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.categoryBox h2{
    color: rgb(53, 52, 52);
}

.categories{
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.category{
    width: 130px;
    height: auto;
    overflow: hidden;
    background-color: pink;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category img{
    width: 100%;
    object-fit: cover;
}

.category p{
    font-size: 14px;
}

p{
    margin: 0;
}

/* Best Sellers */
.bestSellers{
    width: 82%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.bestSellers h2{
    color: rgb(53, 52, 52);
}

.bestSellingProductsBox{
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.bestSellingProduct{
    width: 170px;
    height: auto;
    padding: 7px 7px 15px 7px;
    border-radius: 4px;
    border: 1px solid grey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestSellingProduct img{
    width: 70%;
    object-fit: cover;
}

.bestSellingProductType{
    color: rgb(170, 170, 170);
    align-self: flex-start;
    margin: 0px;
}

.bestSellingProductName{
    font-size: 15px;
    color: rgb(63, 63, 63);
    font-weight: 600;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 8px;
}

.price-and-btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.price{
    display: flex;
    align-items: center;
    margin: 0px;
}

.bestSellingProductPrice{
    color: #3b996d;
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
}

.bestSellingProductOldPrice{
    color: rgb(168, 168, 168);
    text-decoration: line-through;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}

.AddButton{
    width: 60px;
    height: 30px;
    background-color: #ade0c9;
    border-radius: 4px;
    border: 0.5px solid #62aa89;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.AddButton span{
    color: #19613f;
    font-family: "Varela Round", sans-serif;
}

/* Marketing Image Section */
.marketingImageSection{
    width: 82%;
    overflow: hidden;
    margin-top: 5vw;
    position: relative;
}

.marketingImageBox{
    width: 100%;
    overflow: hidden;
}

.marketingImageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marketingDetailsBox{
    position: absolute;
    width: 60%;
    top: 3vw;
    left: 45vw;

}

.marketingDetailsBox h1{
    color: #4fbf8b;
}

.marketingDetail{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
}

.detailIcon{
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #4fbf8b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.detailText{
    margin-left: 10px;
}

.detailTextHeading{
    font-weight: 600;
}

.detailTextDescription{
    color: grey;
    font-size: 14px;
}

/* Email Subscription  */
.emailSubscription{
    margin-top: 3vw;
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}

.emailSubscription h1{
    margin: 0;
}

.emailSubscription p{
    color: grey;
    margin-top: 10px;
}

.emailInput-and-btn{
    margin-top: 40px;
    width: 60%;
    height: 40px;
}

.emailInput-and-btn input{
    width: 78%;
    height: 40px;
    padding: 0px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid grey;
    position: relative;
}

.emailInput-and-btn button{
    width: 15%;
    height: 42px;
    padding: 5px 0px;
    background-color:  #4fbf8b;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #4fbf8b;
    position: absolute;
    font-size: 20px;
}


/* Related Product */
.relatedProductsBox{
    font-family:  "Varela Round", sans-serif;
    padding: 0vw 9vw;
    margin-top: 7vw;
    margin-bottom: 4vw;
}

.relatedProductTitle{
    margin-bottom: 2vw;
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-weight: 600;
}

.relatedProducts{
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    margin-bottom: 12vw;
}

/* All Products Style */
.allProductMainSection{
    width: 100%;
    margin-bottom: 30px;
}

.allProductMainSection .sectionTitle{
    width: 82%;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}

.showProductsBox{
    width: 82%;
    height: auto;
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.showProductsBox a{
    text-decoration: none;
}

/* Product Details */

.productDetailsMainSection{
    width: 100%;
}

.pathText{
    width: 82%;
    font-size: 14px;
    color: rgb(66, 66, 66);
}

.pathProductName{
    color:  #4fbf8b;
}

.details{
    width: 82%;
    margin: 1vw 0 4vw 0;
    display: flex;
}

.productMultipleImages{
    width: 8%;
    height: auto;
}

.productimg{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.productimg img{
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.showProductImage{
    width: 35%;
    height: auto;
    aspect-ratio: 1/1;
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 1vw;
}

.showProductImage img{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.detailsText{
    width: 45%;
    margin-left: 3vw;
}

.detailsText h2{
    color: #364153;
    font-size: 2vw;
    margin-bottom: 0.5vw;
}

.reviews{
    color: #364153;
    margin-bottom: 1.7vw;
}

.mrpOldPrice, .taxText, .productDescriptionText{
    color: #6a7282ad
}

.mrpOldPrice{
    font-size: 14px;
    text-decoration: line-through;
}

.taxText, .productDescriptionText{
    font-size: 14px;
}

.productDescriptionText{
    width: 170px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.mrpNewPrice{
    color: #364153de;
    font-size: 1.7vw;
    font-weight: 600;
    margin: 3px 0px 3px 0px;
}

.aboutProductHeading{
    font-size: 15px;
    color: #364153;
    font-weight: 600;
}

.detailsBtns button{
    width: 35%;
    height: auto;
    aspect-ratio: 1/0.3;
    border-radius: 3px;
    border: none;
    font-family:"Varela Round", sans-serif;
    font-weight: 600; 
}

.addToCartBtn{
    color: #364153;
}

.buyNowBtn{
    background-color:  #4fbf8b;
    color: white;
    margin-left: 10px;
}

.relatedProductText{
    margin: 0;
}

.relatedProductTextUnderline{
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background-color: #4fbf8b;
    margin: 0  0 15px 0;
    border: none;
}

.relatedProductsBox{
    margin: 0 0 4vw 0;
}

/* Cart Section */
.cartMainSection{
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:70px;
}

.cartSectionBox1{
    width: 65%;
    height: auto;
}

.cartSectionBox2{
    background-color: green;
    width: 33%;
    height: auto;
}

.shoppingCartText{
    margin-bottom: 20px;
}

.shoppingCartText h2{
    font-size: 2.1vw;
    color: #364153;
    display: inline;
}

.shoppingCartText .itemsNumberInCart{
    font-size: 14px;
    color: #4fbf8b;
    margin-left: 7px;
    font-weight: 600;
}

/* Cart Table */
.cartTable{
    width: 100%;
}

.cartTableHeading{
    text-align: left;
    color: #364153;
    font-size: 15px;
    height: 40px;
}

.th1{
    width: 60%;
}

.th2{
    width: 20%;
    text-align: center;
}

.th3{
    width: 15%;
    text-align: center;
}




.cartProductQuantityOptions{
    border: none;
    outline: none;
}

.cartProductDetails{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.shoppingProductDetails{
    height: 100px;
}

.cartProductDetailsImage{
    width: 6.5vw;
    height: auto;
    aspect-ratio: 1/1;
    border: 0.5px solid grey;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.cartProductDetailsImage img{
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cartProductName{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #364153;
}

.cartProductWeight, .cartProductQty{
    margin-bottom: 3px;
    color: #6a7282a2;
}

.cartProductQty select{
    color: #6a7282a2;;
}

.cartTableProductPrice{
    font-size: 15px;
    font-weight: 600;
    color: #364153;
    text-align: center;
}

.cartCircleMark{
    text-align: center;
}

/* Hover effects */
button:hover{
    cursor: pointer;
}