.orderTitle{
    width: 82%;
    color:  #364153;
}

.tableBox{
    width: 82%;
    display: flex;
    justify-content: left;
}

thead{
    height: 50px;
    color: #364153;
    font-size: 14px;
    font-weight: 600;
}



.orderTable{
    width: 81%;
    border-collapse: collapse;
    padding: 0px 10px 10px 10px;
    margin-bottom: 50px;
}

tbody tr{
    border-top: 0.5px solid #6a7282a2 !important;
    height: 120px;
}

.orderIdCol{
    width: 55%;
    font-size: 14px;
    font-weight: 600;
    color: #365143;
}

.amountCol{
    width: 20%;
}

.orderItemBox{
    width: auto;
    display: flex;
    align-items: center;   
}

.orderItemImage{
    width: 20%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #4fbf8b1e;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.orderItemImage img{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.orderItemHeading{
    margin-left: 12px;
}

.orderItemTitle{
    font-weight: normal;
    font-size: 19.5px;
    margin-bottom: 3px;
}

.orderItemCategory{
    font-size: 14px;
    color: #365143;
}

.orderExtraDetailsBox{
    width: auto;
}

.orderExtraDetailsBox p{
    font-size: 14px;
    color: #364153;
}

.orderItemPriceBox{
    display: flex;
    justify-content: center;
}

.orderItemPrice{
    color: #4fbf8b;
    font-size: 16px;
    font-weight: 600;
}

.noOrderImage{
    width: 82%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.noOrderImage h1{
    position: absolute;
    top: 0px;
    z-index: 5;
    font-size: 2vw;
    color: rgb(238, 51, 51);
}

.noOrderImage img{
    width: 35%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
}